/* CONTENTS
1. Global
 - Animations
2. Layout
3. Sections
 - HEADER
 - MAIN
 - FOOTER
*/

/*--------------------------------------------------------------
# 1. Global
--------------------------------------------------------------*/

/* Global Fonts */

@font-face {
  font-family: 'Cabinet';
  src: url('../fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-Light.woff') format('woff'),
       url('../fonts/Futura-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon';
  src: url('../fonts/LEMONMILK-Bold.woff') format('woff'),
       url('../fonts/LEMONMILK-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
font-family: 'Engravers';
src: url('../fonts/OPTIEngraversOldEnglish.woff') format('woff'),
     url('../fonts/OPTIEngraversOldEnglish.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}

:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Cabinet", sans-serif;
    --paragraph-font: "Poppins", sans-serif;
    --alt-font: "Futura", sans-serif;
  }

/* Global Colors */
:root {
    --background-color: #1f1f1f;
    --heading-color: #ffffff;
    --default-text-color: #fffbe5;

    --primary-color: #6A42C2;
    --primary-color-light: #aa88ff;
    --primary-color-dark: #563A9C;
    --primary-color-shadow: #260c69dc;
    
    --hover-color: #896fc2bb;
    --accent-color: #ffffff8e;
    --accent-light-color: #ffffff81; /* For buttons and links*/
    --surface-color: #888888;
    --contrast-color: #030303;
    --shadow-color: #1313132c;
    --nav-color: #242424;
  }

:root {
    scroll-behavior: smooth;
}


/*--------------------------------------------------------------
# 2. Layout
--------------------------------------------------------------*/

  *{
    margin:0;
    transition: all 0.5s;
  }

  body {
    color: var(--default-text-color);
    background-image: linear-gradient(var(--primary-color-shadow),var(--primary-color-shadow)), url(../images/error404.jpg);
    background-position: center;
    background-size: contain;
    font-family: var(--default-font);
  }
  
  a {
    color: var(--heading-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: var(--hover-color);
    text-decoration: none;
  }
  
  h1,
  h2 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    
  }
  h2 {
    color: var(--heading-light-color);
  }
  p {
    font-family: var(--paragraph-font);
  }

/*--------------------------------------------------------------
# 3. Sections
--------------------------------------------------------------*/

/* Header
  ============================= */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--background-color);
    padding: 10px 20px;
}

.header-logo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 32px;
    font-weight: 300;
    font-family: Lemon, sans-serif;
    text-transform: uppercase;
}
.header-logo a {
  color: var(--heading-color);
}
.header-logo a span {
  color: var(--primary-color-light);
}

.header-logo a:hover,
.header-logo a span:hover{
  color: var(--hover-color);
}

.nav-bar {
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;

}

/* Main
  ============================= */

  .container1 {
    width: 100%;
    min-height: 100vh;
  } 

/* Intro Text
  ============================= */

  .error-main{
    display: contents;
    align-items: center;
    text-align: center;
  }

  .error-text h1{
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
    padding-bottom: 40px;
  }

  .error-text p{
    font-size: 30px;
    font-weight: lighter;
    padding: 10px;
  }

  #text2 {
    padding-bottom: 20px;
  }

  .error-main{
    padding: 70px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
  }

/* Home Button
  ============================= */

.home-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 170px;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(100%);
}

.home-button button {
  color: var(--primary-color-dark);
    border: 0;
    background: none;
    cursor: pointer;
}

.home-button:hover {
    background: var(--primary-color-light);  
}

/* Footer
  ============================= */


.footer {
  background-color: var(--background-color);
  color: var(--default-text-color);
  padding: 20px 0;
  font-size: 14px;
}

.footer .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

.footer-section {
  flex: 1 1 300px;
  margin: 10px;
  text-align: center;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.footer-section p a {
  color: var(--primary-color-light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section p a:hover {
  color: var(--default-text-color);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid var(--primary-color);
  padding-top: 10px;
  color: var(--primary-color-light);
}


#one {
  font-family: Lemon, sans-serif;
}
#two {
  font-family: engravers, sans-serif;
}
